html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

p {
    text-align: center;
    font-size: clamp();
}

main section header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

main {
    background-color: #cc642c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f1dc8e;
    padding: 3rlh;
    width: clamp(40%, 70%, 100%);
    gap: 16px;
}

.main-img-2, .main-img-1 {
    margin-top: 1rlh;
    margin-bottom: 1rlh;
    width: 65%;
    max-width: 1572px;
    display: flex;
    flex-direction: column;
}


.main-img-2{
    max-height: 700px;
    overflow: hidden;
}

.main-img-2 img{
    object-position: 0px 0px;
}

.main-img-1 {
   display: flex;
}

.main-img-1 img {
    filter: brightness(0.8);
}

.button-21 {
    width: clamp(20%, 50%, 100%);
    align-items: center;
    appearance: none;
    background-color: #6fb69d;
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-size: 2rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 1rem;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.button-21:active,
.button-21:focus {
    outline: none;
}

.button-21:hover {
    background-position: -20px -20px;
}

.button-21:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
